<ion-header [translucent]="true">
  <ion-toolbar color="vermelho">
    <ion-title>
      Bebidas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">


  <ion-grid class="ion-text-center ion-no ion-no-padding">
    <ion-row class="ion-no-padding">

      <ion-col size="6" class="ion-no-padding">
        <ion-card>

          <img src="https://cdn.awsli.com.br/600x700/1697/1697013/produto/76867321/260781866c.jpg" 
                alt="refrigerante 600ml">
          <ion-item lines="none">
            <ion-label>Refrigerantes 600ml</ion-label>
          </ion-item>
          <ion-item lines="none" class="ion-no-padding">
            <ion-badge color="roxo">600ml</ion-badge>
            <ion-note slot="end" color="warning"><span>R$</span> 7,00</ion-note>
          </ion-item>

        </ion-card>      
      </ion-col>

      <ion-col size="6" class="ion-no-padding">
        <ion-card>

          <img src="https://admin.cmpedidos.com.br/foto/463/produtos/refrigerante-2l-51220.jpg" 
                alt="refrigerante 2l">
          <ion-item lines="none">
            <ion-label>Refrigerantes 2l</ion-label>
          </ion-item>
          <ion-item lines="none" class="ion-no-padding">
            <ion-badge color="roxo">2l</ion-badge>
            <ion-note slot="end" color="warning"><span>R$</span> 15,00</ion-note>
          </ion-item>

        </ion-card>      
      </ion-col>

      <ion-col size="6" class="ion-no-padding">
        <ion-card>

          <img src="https://aguasprata.vteximg.com.br/arquivos/ids/156571-600-600/agua-mineral-natural-sport-garrafa-pet-600ml.jpg?v=637474752787570000" 
                alt="agua mineral 600ml">
          <ion-item lines="none">
            <ion-label>Água Mineral</ion-label>
          </ion-item>
          <ion-item lines="none" class="ion-no-padding">
            <ion-badge color="roxo">600ml</ion-badge>
            <ion-note slot="end" color="warning"><span>R$</span> 5,00</ion-note>
          </ion-item>

        </ion-card>   

      </ion-col>

      <ion-col size="6" class="ion-no-padding">
        <ion-card>

          <img src="https://superprix.vteximg.com.br/arquivos/ids/185307-600-600/501557.jpg?v=637224973549470000" 
                alt="agua com gás 2 litros">
          <ion-item lines="none">
            <ion-label>Água com Gás 2l</ion-label>
          </ion-item>
          <ion-item lines="none" class="ion-no-padding">
            <ion-badge color="roxo">2l</ion-badge>
            <ion-note slot="end" color="warning"><span>R$</span> 12,00</ion-note>
          </ion-item>

        </ion-card>      
      </ion-col>
      
      <ion-col size="6" class="ion-no-padding">
        <ion-card>

          <img src="https://lh3.googleusercontent.com/proxy/iy60GpQ6PK10aeOiHxh97YB1eIRQmKPa2ZUs-z84hSMRGfd76jWlgHWBr7BzZ9IwyclTtoCf753Dae71TR329ou2l0UNKLUJTagP-uSYnI1WfJGZA_G26Ah1cWbXM23A-eKcZ56yqZg" 
                alt="refrigerante lata">
          <ion-item lines="none">
            <ion-label>Refrigerantes lata 350ml</ion-label>
          </ion-item>
          <ion-item lines="none" class="ion-no-padding">
            <ion-badge color="roxo">350ml</ion-badge>
            <ion-note slot="end" color="warning"><span>R$</span> 5,00</ion-note>
          </ion-item>

        </ion-card>      
      </ion-col>

      <ion-col size="6" class="ion-no-padding">
        <ion-card>

          <img src="https://a-static.mlcdn.com.br/1500x1500/suco-de-laranja-integral-natural-one-100-suco-2-litros/sobrinhosmodafeminina/1893p/4665a7aecb34f4e7c4a8c319335cf7a6.jpg" 
                alt="suco de laranja 2l">
          <ion-item lines="none">
            <ion-label>Suco de Laranja 2l</ion-label>
          </ion-item>
          <ion-item lines="none" class="ion-no-padding">
            <ion-badge color="roxo">2l</ion-badge>
            <ion-note slot="end" color="warning"><span>R$</span> 20,00</ion-note>
          </ion-item>

        </ion-card>      
      </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>
